<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0D8F45FB-D176-4205-839A-C0951FD93DCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B68FA81-0A70-4E7A-BA20-966348649F9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10B2AE13-04B0-4B41-AB4C-74691AF4016C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4A76DCB-85C7-492E-B7F3-9829A734AC34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>178744F4-7FD8-4F54-88A4-B00F6F2B8F53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C440F650-E1F9-41AB-884B-BD5AD519936D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23FE5FE5-9058-41CB-A295-B4448AC4DF53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC15ABD0-5E74-4E36-90E4-3FCE57E6CEF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47950307-31DD-400D-A541-FCF4C8B9080F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5B3DEDE-9460-4D29-AB9A-821147D2C06B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>586E0052-6164-4164-8908-2E3CFBF38A06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>969973A1-E378-4D6A-9A68-45BDA3A897CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80DD0FA7-67C0-40CD-95F1-C7ADC8CD1895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>549997F6-3F03-4E2D-B485-9FF6DB1F49D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93980224-1845-41E3-A299-FB9827158D1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B2CAAF8-F766-4D0F-B496-840BA4E4E71D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E7D39A7-21B1-4FD3-B262-CBC15BB88BF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96E16335-E6B3-483A-A2B7-31EA863F3BDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dwtfukgv</string>
	<key>description</key>
	<string>A workflow created by you as part of Getting Started</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>easy product</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspsql</string>
				<key>subtext</key>
				<string>tsp sql</string>
				<key>text</key>
				<string>open easy product sql</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>586E0052-6164-4164-8908-2E3CFBF38A06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/sql-executor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>969973A1-E378-4D6A-9A68-45BDA3A897CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspinfo</string>
				<key>subtext</key>
				<string>product info</string>
				<key>text</key>
				<string>open easy product info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93980224-1845-41E3-A299-FB9827158D1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/query-product</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B2CAAF8-F766-4D0F-B496-840BA4E4E71D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/query-cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>549997F6-3F03-4E2D-B485-9FF6DB1F49D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspcache</string>
				<key>subtext</key>
				<string>product cahe</string>
				<key>text</key>
				<string>open easy product cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>80DD0FA7-67C0-40CD-95F1-C7ADC8CD1895</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspinvoke</string>
				<key>subtext</key>
				<string>product invoke async</string>
				<key>text</key>
				<string>open easy product invoke async</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10B2AE13-04B0-4B41-AB4C-74691AF4016C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/invoke-query-async</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4A76DCB-85C7-492E-B7F3-9829A734AC34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tsprefresh</string>
				<key>subtext</key>
				<string>product refresh cache</string>
				<key>text</key>
				<string>open easy product refresh cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47950307-31DD-400D-A541-FCF4C8B9080F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/refresh-cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5B3DEDE-9460-4D29-AB9A-821147D2C06B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://pkgccpejnmalmdinmhkkfafefagiiiad/json-format/index.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C440F650-E1F9-41AB-884B-BD5AD519936D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspjson</string>
				<key>subtext</key>
				<string>fehelp json formmat</string>
				<key>text</key>
				<string>open fehelp json formmat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>178744F4-7FD8-4F54-88A4-B00F6F2B8F53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://pkgccpejnmalmdinmhkkfafefagiiiad/json-diff/index.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B68FA81-0A70-4E7A-BA20-966348649F9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspdiff</string>
				<key>subtext</key>
				<string>fehelp json formmat</string>
				<key>text</key>
				<string>open fehelp json formmat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D8F45FB-D176-4205-839A-C0951FD93DCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tsptime</string>
				<key>subtext</key>
				<string>fehelp json formmat</string>
				<key>text</key>
				<string>open fehelp json formmat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23FE5FE5-9058-41CB-A295-B4448AC4DF53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://pkgccpejnmalmdinmhkkfafefagiiiad/timestamp/index.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DC15ABD0-5E74-4E36-90E4-3FCE57E6CEF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tspcode</string>
				<key>subtext</key>
				<string>fehelp json formmat</string>
				<key>text</key>
				<string>open fehelp json formmat</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9E7D39A7-21B1-4FD3-B262-CBC15BB88BF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chrome-extension://pkgccpejnmalmdinmhkkfafefagiiiad/en-decode/index.html</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>96E16335-E6B3-483A-A2B7-31EA863F3BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>0D8F45FB-D176-4205-839A-C0951FD93DCA</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>10B2AE13-04B0-4B41-AB4C-74691AF4016C</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>178744F4-7FD8-4F54-88A4-B00F6F2B8F53</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>23FE5FE5-9058-41CB-A295-B4448AC4DF53</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>1480</real>
		</dict>
		<key>3B68FA81-0A70-4E7A-BA20-966348649F9B</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>47950307-31DD-400D-A541-FCF4C8B9080F</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>549997F6-3F03-4E2D-B485-9FF6DB1F49D4</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>586E0052-6164-4164-8908-2E3CFBF38A06</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>6B2CAAF8-F766-4D0F-B496-840BA4E4E71D</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>80DD0FA7-67C0-40CD-95F1-C7ADC8CD1895</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>93980224-1845-41E3-A299-FB9827158D1A</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>969973A1-E378-4D6A-9A68-45BDA3A897CC</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>96E16335-E6B3-483A-A2B7-31EA863F3BDB</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1660</real>
		</dict>
		<key>9E7D39A7-21B1-4FD3-B262-CBC15BB88BF3</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>1660</real>
		</dict>
		<key>A5B3DEDE-9460-4D29-AB9A-821147D2C06B</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>C440F650-E1F9-41AB-884B-BD5AD519936D</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>DC15ABD0-5E74-4E36-90E4-3FCE57E6CEF4</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1480</real>
		</dict>
		<key>E4A76DCB-85C7-492E-B7F3-9829A734AC34</key>
		<dict>
			<key>note</key>
			<string>The URL set here will open when you press Return after typing the keyword.</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
