<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>00CFD356-699C-42E5-8923-E490B9D5735F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
		</dict>
		<key>0D4C9863-D5DC-4B7B-A5F5-449C563B08AD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mtrace</string>
			<key>text</key>
			<string>mtrace</string>
			<key>url</key>
			<string>https://mtrace.sankuai.com/trace/{query}</string>
		</dict>
		<key>33A0FB16-9A4E-4AC7-8325-66BDD11187A3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crmwm</string>
			<key>text</key>
			<string>crmwm</string>
			<key>url</key>
			<string>https://qb.waimai.sankuai.com/gw/static_resource/product?wmPoiId={query}#/listView</string>
		</dict>
		<key>3C2CB453-6C45-463F-8F87-3B2A8056C2A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mtracetest</string>
			<key>text</key>
			<string>mtracetest</string>
			<key>url</key>
			<string>https://mtrace.inf.dev.sankuai.com/trace/{query}</string>
		</dict>
		<key>457CDDC8-E292-4B26-8EAC-4704B7CE4391</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>tspsql</string>
			<key>text</key>
			<string>tsp sql</string>
			<key>url</key>
			<string>chrome-extension://fapngckdnaohhjdiamijioepcjfnafim/index.html#/product/sql-executor</string>
		</dict>
		<key>46FDA155-66A9-48FA-B3BB-C6A4EDC1D453</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crmmedicine</string>
			<key>text</key>
			<string>crmmedicine</string>
			<key>url</key>
			<string>https://igate.waimai.meituan.com/igate/shangdan/shopOverview.html?wmPoiId={query}</string>
		</dict>
		<key>665E322A-C53D-4C13-BDDA-FA81AE868B36</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cadmin</string>
			<key>text</key>
			<string>cadmin</string>
			<key>url</key>
			<string>http://cadmin.waimai.st.sankuai.com/#modules/diagnosticate/query.html?startTime=NaN&amp;endTime=NaN&amp;traceid={query}&amp;</string>
		</dict>
		<key>7B0FAB3E-B5A1-4DCF-AE34-1074E210C53C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rhino</string>
			<key>text</key>
			<string>rhino</string>
			<key>url</key>
			<string>http://rhino.sankuai.com/#/overview/{query}</string>
		</dict>
		<key>ABDEA555-20EB-4661-A0F2-31A65516E4A6</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>avatar</string>
			<key>text</key>
			<string>avatar</string>
			<key>url</key>
			<string>https://avatar.mws.sankuai.com/#/service/detail/host?env=prod&amp;appkey={query}</string>
		</dict>
		<key>C71829BE-238A-45B5-90A1-7E6B1A75330C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>peckertest</string>
			<key>text</key>
			<string>peckertest</string>
			<key>url</key>
			<string>https://pecker.tsp.test.sankuai.com/page/trace-search?fromOldDataSource=false&amp;excludeMtraceData=true&amp;sortByTime=false&amp;isTest=false&amp;pageSize=1000&amp;pageNum=1&amp;traceid={query}</string>
		</dict>
		<key>D004F4C0-975B-4386-8C46-223B700EA2FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crmsg</string>
			<key>text</key>
			<string>crmsg</string>
			<key>url</key>
			<string>https://qb.waimai.sankuai.com/reuse/sc/product/views/product/list?wmPoiId={query}</string>
		</dict>
		<key>DE1E75AE-4397-452C-A92C-382C32061F06</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cadmintest</string>
			<key>text</key>
			<string>cadmintest</string>
			<key>url</key>
			<string>http://cadmin.waimai.test.sankuai.com/#modules/diagnosticate/query.html?startTime=NaN&amp;endTime=NaN&amp;traceid={query}&amp;</string>
		</dict>
		<key>EE1D5BA3-4600-4A01-94FE-B244961A27A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>km</string>
			<key>text</key>
			<string>km</string>
			<key>url</key>
			<string>https://km.sankuai.com/search?key={query}&amp;searchType=1&amp;searchEntry=user_click</string>
		</dict>
		<key>FC14FEE0-8009-4380-AC97-E5EEF884EFC4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pecker</string>
			<key>text</key>
			<string>pecker</string>
			<key>url</key>
			<string>https://pecker.sankuai.com/page/trace-search?fromOldDataSource=false&amp;excludeMtraceData=true&amp;sortByTime=false&amp;isTest=false&amp;pageSize=1000&amp;pageNum=1&amp;traceid={query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
